/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss';

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.navbar {
	box-shadow: 1px 0 10px rgba(56, 55, 55, 0.3);
}

.box {
	box-shadow: 1px 1px 10px rgba(56, 55, 55, 0.3);
}

.poppins {
	font-family: var(--font-poppins);
}

.dropdown.default {
	color: gray;
}

.editing {
	background: #d4d92f;
	border: 2px black;
}

.faded {
	opacity: 0.5;
}
.active {
	opacity: 1;
	font-weight: bold; /* Optional: Make selected button stand out */
}

/* Custom thin scrollbar */
::-webkit-scrollbar {
	width: 6px; /* Thin width */
}
::-webkit-scrollbar {
	height: 6px; /* Thin height */
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 4px;
}

::-webkit-scrollbar-track {
	background: #c6c6c6;
}

::-webkit-scrollbar-button {
	display: block; /* Ensure buttons/arrows are visible */
}
